main.bbl
main.blg
main.log
main.bbl
main.out
main.lof
main.aux
main.synctex.gz
main.synctex(busy)
main.toc
egdi.aux
governo_digital_jus.aux
governo_eletronico_digital_brasil.aux
referencial_teorico.aux