acronyms.aux
conclusions.aux
contextual_foundation.aux
core_person_registration_process.aux
cover.aux
evaluation.aux
glossary.aux
http_status_codes_summary_appendix.aux
integration_tests.aux
introduction.aux
main.aux
main.bbl
main.blg
main.fls
main.fdb_latexmk
main.out
main.lof
main.lot
main.log
main.synctex.gz
models.aux
tests_concepts_appendix.aux
unit_tests.aux